<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="https://fin-chat.onrender.com/profilecss">
</head>

<body>
    <div id="container">
        <div id="left-region">
            <div id="clickable-lines" onmouseover="openPopup()" onmouseleave="closePopupWithDelay()"
                onclick="togglePopup(event)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-avatar-big" style="margin:40px;">
                <img src="path/to/user/avatar.jpg">
            </div>
            <div id="userInfo2"></div>
            <div id="popup" onmouseover="cancelClosePopup()" onmouseleave="closePopupWithDelay()"
                onclick="closePopup(event)">
                <div class="popup-content" onclick="openDynamicPopup()">Edit Profile</div>
                <div class="popup-content" onclick="openProfilePage()">My Profile</div>
                <div class="popup-content" onclick="logoutUser()">Log Out</div>

            </div>
        </div>
        <div id="middle-region">
            <!-- Orta Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-middle-line">
                <span style="font-size: 36px;">
                    <div id="finChatTitle">FinChat</div>
                </span>
            </div>

            <form id="postForm">

                <div class="share-post">
                    <div class="left-column">
                        <div class="user-avatar-big">
                            <img src="path/to/user/avatar.jpg">
                        </div>
                        <div id="input-post-name" class="user-name"></div>
                    </div>
                    <div class="right-column">
                        <div class="upper-row">
                            <textarea id="desc" name="desc" placeholder="Paylaş..." rows="5" cols="50"></textarea>
                        </div>

                        <div class="lower-row">

                            <button type="submit" id="sendButton">
                                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/send.png"
                                    alt="Button Image">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div id="postsList">

            </div>
        </div>
        <div id="right-region">
            <!-- Sağ Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-line">
                <img id="dollar-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/dollar-icon.gif"
                    alt="Dollar Icon">
            </div>

            <h3 class="para-birimleri" id="dolar-try"></h3>
            <h3 class="para-birimleri" id="euro-try"></h3>
            <h3 class="para-birimleri" id="sterlin-try"></h3>
            <h3 class="para-birimleri" id="pln-try"></h3>
            <div class="horizontal-line">
                <img id="gold-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/gold-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="altin-degerleri">Gram Altın=300Tl</h3>
            <h3 class="altin-degerleri">Çeyrek Altın=500Tl</h3>
            <h3 class="altin-degerleri">C. Altını=200Tl</h3>
            <h3 class="altin-degerleri">Yatım Altın=100Tl</h3>
            <div class="horizontal-line">
                <img id="kripto-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/kripto-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="kripto-degerleri">Bitcoin=300Tl</h3>
            <h3 class="kripto-degerleri">Etherium=200Tl</h3>
            <h3 class="kripto-degerleri">DogeCoin=100Tl</h3>
            <h3 class="kripto-degerleri">ZırtCoin=50Tl</h3>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div id="dynamic-popup">
        <form id="update-user-form">
            <div id="close-btn" onclick="closeDynamicPopup()">X</div>
            <div class="user-avatar-big" onclick="openProfilePictureInput()">
                <img id="currentProfilePicture" src="path/to/user/avatar.jpg" alt="">
                <div id="editProfilePicture"></div>
            </div>
            <input type="file" id="profileImage" accept="image/*" onchange="handleProfilePictureChange()">
            <br>
            <input type="text" id="firstnameLastname" placeholder="First Name Last Name">
            <br>
            <input type="password" id="password" placeholder="Password">
            <br>
            <input type="password" id="repeatPassword" placeholder="Repeat Password">
            <br>
            <button type="submit" id="save-btn">Save</button>
        </form>
    </div>


</body>
<script src="./anasayfaJs"></script>
<script src="./popupJs"></script>

</html>