<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yorumlar</title>
    <link rel="stylesheet" type="text/css" href="https://fin-chat.onrender.com/profilecss">


</head>


<body>
    <div id="container">
        <div id="left-region">
            <button onclick="goToHome()" id="homeButton" style="margin-top: 5px; margin-left: 5px;">
                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/home.png"
                    alt="Button Image">
            </button>

            <button onclick="openProfilePage()" id="ProfileButton" style="margin-top: 5px; margin-left: 5px;">
                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/user.png"
                    alt="Button Image">
            </button>

            <div id="clickable-lines" onmouseover="openPopup()" onmouseleave="closePopupWithDelay()"
                onclick="togglePopup(event)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-avatar-big" style="margin:40px;">
                <div class="user-avatar" style="height: 100%; width: 100%;">
                    <img id="user-avatar-big3" src="">
                </div>
            </div>
            <div id="userInfo2"></div>
            <div id="popup" onmouseover="cancelClosePopup()" onmouseleave="closePopupWithDelay()"
                onclick="closePopup(event)">
                <div class="popup-content" onclick="openDynamicPopup()">Edit Profile</div>
                <div class="popup-content" onclick="openProfilePage()">My Profile</div>
                <div class="popup-content" onclick="LogOut()">Log Out</div>

            </div>
        </div>
        <div id="middle-region">

            <div class="horizontal-middle-line">
                <span style="font-size: 36px;">
                    <div id="finChatTitle">FinChat</div>
                </span>
            </div>


            <div id="postsList"></div>



            <form id="commentForm">
                <div class="share-comment">
                    <div class="left-column">
                        <div class="user-avatar-small">
                            <div class="user-avatar" style="height: 100%; width: 100%;">
                                <img id="user-avatar-big4" src="">
                            </div>
                        </div>
                        <div id="userInfo" class="user-name"></div>
                    </div>
                    <div class="right-column">
                        <div class="upper-row">
                            <textarea id="desc" name="desc" placeholder="Your text here..." rows="5"
                                cols="50"></textarea>
                        </div>

                        <div class="lower-row">
                            <button type="submit" id="gptButton" style="background-color: aquamarine;">
                                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/send.png"
                                    alt="Button Image">
                            </button>

                            <button type="submit" id="sendButton">
                                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/send.png"
                                    alt="Button Image">
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div id="commentsList"></div>






        </div>
        <div id="right-region">
            <!-- Sağ Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-line">
                <img id="dollar-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/dollar-icon.gif"
                    alt="Dollar Icon">
            </div>

            <h3 class="para-birimleri" id="dolar-try"></h3>
            <h3 class="para-birimleri" id="euro-try"></h3>
            <h3 class="para-birimleri" id="sterlin-try"></h3>
            <h3 class="para-birimleri" id="pln-try"></h3>
            <div class="horizontal-line">
                <img id="gold-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/gold-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 id="22altin" class="altin-degerleri"></h3>
            <h3 id="Caltin" class="altin-degerleri"></h3>
            <h3 id="cumhuriyet-altini" class="altin-degerleri"></h3>
            <h3 id="gumus" class="altin-degerleri"></h3>
            <div class="horizontal-line">
                <img id="kripto-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/kripto-icon.gif"
                    alt="Dollar Icon">
            </div> 
            <h3 id="bitcoin" class="kripto-degerleri"></h3>
            <h3 id="Ethereum" class="kripto-degerleri"></h3>
            <h3 id="Litecoin" class="kripto-degerleri"></h3>
            <h3 id="Dogecoin" class="kripto-degerleri"></h3>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div id="dynamic-popup">
        <div id="close-btn" onclick="closeDynamicPopup()">X</div>
        <div class="user-avatar-big" onclick="openProfilePictureInput()">
            <img id="currentProfilePicture" src="path/to/user/avatar.jpg" alt="">
            <div id="editProfilePicture"></div>
        </div>
        <input type="file" id="profilePictureInput" accept="image/*" onchange="handleProfilePictureChange()">
        <br>
        <input type="text" id="firstnameLastname" placeholder="First Name Last Name">
        <br>
        <input type="password" id="password" placeholder="Password">
        <br>
        <input type="password" id="repeatPassword" placeholder="Repeat Password">
        <br>
        <button id="save-btn" onclick="">Save</button>
    </div>

    <script>
        const url = "https://fin-chat.onrender.com/";
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('postId');

        fetchPosts()



        function openProfilePage() {
            window.location.href = "profile.html";
        }

        function cancelClosePopup() {
            clearTimeout(closePopupTimeout);
        }

        function closePopupWithDelay() {
            closePopupTimeout = setTimeout(function () {
                var popup = document.getElementById("popup");
                popup.style.display = "none";
            }, 100); // 1 saniye gecikme
        }



        function openProfilePictureInput() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            profilePictureInput.click();
        }
        /*
                document.getElementById('commentsButton').addEventListener('click', function () {
                    window.location.href = 'CommentThePost.html';
                });*/

        function handleProfilePictureChange() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            var currentProfilePicture = document.getElementById('currentProfilePicture');

            if (profilePictureInput.files && profilePictureInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    currentProfilePicture.src = e.target.result;
                };

                reader.readAsDataURL(profilePictureInput.files[0]);
            }
        }





        //-----------------GET POST---------------------//


        function fetchPosts() {
            console.log("getpost" + id);
            fetch(`${url}CommentPage?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(posts => {
                    // Sunucudan gelen verileri işleme
                    const post = posts[0];
                    console.log(post);
                    const postsListContainer = document.getElementById('postsList');

                    let postContent = `
                        <div class="post-view">
                            <div class="left-column">
                                <div class="user-avatar-big">
                                    <div class="user-avatar" style="height: 100%; width: 100%;">
                                    <img src="https://lh3.googleusercontent.com/d/${post.profilePic}">
                                    </div>
                                </div>
                                <div class="user-name">${post.name}</div>
                            </div>
                            <div class="right-column">
                                <div class="upper-row">
                                    <textarea id="post" readonly style="font-weight: bold; font-size: 16px;">${post.desc}</textarea>
                             </div>

                                <div class="lower-row">
                                    <div id="post-date" style="font-weight: normal; font-size: 12px;" readonly>  ${moment(post.createdAt).fromNow()} </div>
                                </div>
                            </div>
                        </div>
                            `;
                    postsListContainer.innerHTML += postContent
                })
        }


        //-----------------GET COMMENTS---------------------//

        fetchComments()
        function fetchComments() {

            fetch(`${url}comments?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(comments => {
                    // Sunucudan gelen verileri işleme
                    console.log(comments);
                    const commetsListContainer = document.getElementById('commentsList');

                    comments.forEach(comment => {

                        let postContent = `
            <div class="shared-comment">
                <div class="left-column">
                    <div class="user-avatar-small">
                        <div class="user-avatar" style="height: 100%; width: 100%;">
                        <img src="https://lh3.googleusercontent.com/d/${comment.profilePic}">
                        </div>
                    </div>
                    <div class="user-name">${comment.name}</div>
                </div>
                <div class="right-column">
                    <div class="upper-row">
                        <textarea id="comment${comment.id}" readonly style="font-weight: bold; font-size: 16px;">${comment.desc}</textarea>
                    </div>

                    <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly>  ${moment(comment.createdAt).fromNow()} </div>
                    </div>
                </div>
            </div>
    
    `;

                        commetsListContainer.innerHTML += postContent

                    })
                        .catch(error => {
                            console.error('Error fetching comments:', error);
                        });
                })
        }


        //-------------SET COMMENT------------//


        document.getElementById('commentForm').addEventListener('submit', function (event) {
            event.preventDefault();
            sendComment();

        });


        function sendComment() {



            const desc = document.getElementById('desc').value;
            const commentData = {
                desc: desc,

            };

            if (desc != null || desc != "") {

                fetch(`${url}comments?postId=${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(commentData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('comment eklendi:', data);
                    })

                    .catch(error => {
                        console.error('There was an error!', error);
                    });

            } else { alert("yorum boş olmaz") }

        }


        document.getElementById("gptButton").addEventListener("click", function () {
            sendToChatGPT();
        });

        function sendToChatGPT() {
            let value = document.getElementById("post").value;
            let date = document.getElementById("post-date").value;
            console.log(value);
            console.log(date);

            let body = {
                model: "gpt-3.5-turbo",
                messages: [{ role: "user", content: `"bu adam ${date} , şöyle dedi: ${value}. bir kelime ile cevap ver ya olumlu yada olumsuz ` }],
                tempreture: "1",
                max_tokens: 30
            };

            let headers = {
                Authorization: "Bearer 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",
                "Content-Type": "application/json",
            };

            try {
                const response = fetch("https://api.openai.com/v1/chat/completions", {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(body),
                });

                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }

                const data = response.json();
                let reply = data.choices[0].message.content;
                console.log(reply);
                document.getElementById('desc').textContent = "CHAT GPT COMMENT" + reply;
                sendComment();
            } catch (error) {
                console.error("There was a problem with the fetch operation:", error);
            }
        }





        //
        document.getElementById("sendButton").addEventListener("click", function () {
            location.reload();
        });

        displayUserInfo();
        async function displayUserInfo() {
            try {
                const response = await fetch('/users');
                if (!response.ok) {
                    throw new Error('Failed to fetch user info');
                }
                const userInfo = await response.json();

                const userInfoDiv = document.getElementById('userInfo');
                const userInfoDiv2 = document.getElementById('userInfo2');
                const img= "https://lh3.googleusercontent.com/d/" + userInfo.profilePic
        document.getElementById('user-avatar-big3').src =img;
        document.getElementById('user-avatar-big4').src =img;



                userInfoDiv.innerHTML = `               
          <p>${userInfo.name}</p>          
        `;

                userInfoDiv2.innerHTML = `               
        <div style="text-align: center;">
    <p style="font-weight: bold;">${userInfo.name}</p>
</div>        `;
        /*userInfoDiv2.innerHTML = `               
        <div style="text-align: center;">
    <p style="font-weight: bold;">${userInfo.name}</p>
</div>        `*/;
            } catch (error) {
                console.error('Error:', error);
            }
        }



    </script>
</body>
<script src="./popupJs"></script>

</html>