<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yorumlar</title>
    <link rel="stylesheet" type="text/css" href="https://fin-chat.onrender.com/profilecss">


</head>


<body>
    <div id="container">
        <div id="left-region">
            <div id="clickable-lines" onmouseover="openPopup()" onmouseleave="closePopupWithDelay()"
                onclick="togglePopup(event)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-avatar-big" style="margin:40px;">
                <img src="path/to/user/avatar.jpg">
            </div>
            <div id="userInfo2"></div>
            <div id="popup" onmouseover="cancelClosePopup()" onmouseleave="closePopupWithDelay()"
                onclick="closePopup(event)">
                <div class="popup-content" onclick="openDynamicPopup()">Edit Profile</div>
                <div class="popup-content" onclick="openProfilePage()">My Profile</div>
                <div class="popup-content" onclick="LogOut()">Log Out</div>

            </div>
        </div>
        <div id="middle-region">

            <div class="horizontal-middle-line">
                <span style="font-size: 36px;">
                    <div id="finChatTitle">FinChat</div>
                </span>
            </div>


            <div id="postsList"></div>



            <form id="commentForm">
                <div class="share-comment">
                    <div class="left-column">
                        <div class="user-avatar-small">
                            <img src="path/to/user/avatar.jpg">
                        </div>
                        <div id="userInfo" class="user-name"></div>
                    </div>
                    <div class="right-column">
                        <div class="upper-row">
                            <textarea id="desc" name="desc" placeholder="Your text here..." rows="5"
                                cols="50"></textarea>
                        </div>

                        <div class="lower-row">

                            <button type="submit" id="sendButton">
                                <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/send.png"
                                    alt="Button Image">
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div id="commentsList"></div>






        </div>
        <div id="right-region">
            <div class="horizontal-line">
                <img id="dollar-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/dollar-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="para-birimleri">Dolar/tl=30,9</h3>
            <h3 class="para-birimleri">Euro/tl=39</h3>
            <h3 class="para-birimleri">Sterlin/tl=30</h3>
            <h3 class="para-birimleri">Pln/tl=3</h3>
            <div class="horizontal-line">
                <img id="gold-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/gold-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="altin-degerleri">Gram Altın=300Tl</h3>
            <h3 class="altin-degerleri">Çeyrek Altın=500Tl</h3>
            <h3 class="altin-degerleri">C. Altını=200Tl</h3>
            <h3 class="altin-degerleri">Yatım Altın=100Tl</h3>
            <div class="horizontal-line">
                <img id="kripto-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/kripto-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="kripto-degerleri">Bitcoin=300Tl</h3>
            <h3 class="kripto-degerleri">Etherium=200Tl</h3>
            <h3 class="kripto-degerleri">DogeCoin=100Tl</h3>
            <h3 class="kripto-degerleri">ZırtCoin=50Tl</h3>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div id="dynamic-popup">
        <div id="close-btn" onclick="closeDynamicPopup()">X</div>
        <div class="user-avatar-big" onclick="openProfilePictureInput()">
            <img id="currentProfilePicture" src="path/to/user/avatar.jpg" alt="">
            <div id="editProfilePicture"></div>
        </div>
        <input type="file" id="profilePictureInput" accept="image/*" onchange="handleProfilePictureChange()">
        <br>
        <input type="text" id="firstnameLastname" placeholder="First Name Last Name">
        <br>
        <input type="password" id="password" placeholder="Password">
        <br>
        <input type="password" id="repeatPassword" placeholder="Repeat Password">
        <br>
        <button id="save-btn" onclick="">Save</button>
    </div>

    <script>
        const url = "https://fin-chat.onrender.com/";
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('postId');

        fetchPosts()



        function openProfilePage() {
            window.location.href = "profile.html";
        }

        function cancelClosePopup() {
            clearTimeout(closePopupTimeout);
        }

        function closePopupWithDelay() {
            closePopupTimeout = setTimeout(function () {
                var popup = document.getElementById("popup");
                popup.style.display = "none";
            }, 100); // 1 saniye gecikme
        }



        function openProfilePictureInput() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            profilePictureInput.click();
        }
        /*
                document.getElementById('commentsButton').addEventListener('click', function () {
                    window.location.href = 'CommentThePost.html';
                });*/

        function handleProfilePictureChange() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            var currentProfilePicture = document.getElementById('currentProfilePicture');

            if (profilePictureInput.files && profilePictureInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    currentProfilePicture.src = e.target.result;
                };

                reader.readAsDataURL(profilePictureInput.files[0]);
            }
        }
        /*
        
                function fetchPosts() {
            console.log("getpost" + id);
            fetch(`${url}CommentPage?postId=${id}`)
                .then(response => response.json())
                .then(posts => {
                    const post = posts[0]; // Dizi içindeki ilk nesneyi al
                    console.log(post);
                    const postsListContainer = document.getElementById('postsList');
        
                    let postContent = `
                        <div class="left-column">
                            <div class="user-avatar-big">
                                <img src="${post.profilePic}">
                            </div>
                            <div class="user-name">${post.name}</div>
                        </div>
                        <div class="right-column">
                            <div class="upper-row">
                                ${post.desc} tarih: ${moment(post.createdAt).fromNow()}
                            </div>
                            <div class="lower-row">
                            </div>
                        </div>
                    </div>`;
        
                    postsListContainer.innerHTML += postContent;
                })
        }*/

        function fetchPosts() {
            console.log("getpost" + id);
            fetch(`${url}CommentPage?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(posts => {
                    // Sunucudan gelen verileri işleme
                    const post = posts[0];
                    console.log(post);
                    const postsListContainer = document.getElementById('postsList');

                    let postContent = `
                        <div class="post-view">
                            <div class="left-column">
                                <div class="user-avatar-big">
                                    <img src="${post.profilePic}">
                                </div>
                                <div class="user-name">${post.name}</div>
                            </div>
                            <div class="right-column">
                                <div class="upper-row">
                                    <textarea id="post" readonly style="font-weight: bold; font-size: 16px;">${post.desc}</textarea>
                             </div>

                                <div class="lower-row">
                                    <div id="post-date" style="font-weight: normal; font-size: 12px;" readonly>  ${moment(post.createdAt).fromNow()} </div>
                                </div>
                            </div>
                        </div>
                            `;
                    postsListContainer.innerHTML += postContent
                })
        }
        fetchComments()
        function fetchComments() {

            fetch(`${url}comments?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(comments => {
                    // Sunucudan gelen verileri işleme
                    console.log(comments);
                    const commetsListContainer = document.getElementById('commentsList');

                    comments.forEach(comment => {

                        let postContent = `
            <div class="shared-comment">
                <div class="left-column">
                    <div class="user-avatar-small">
                        <img src="${comment.profilePic}">
                    </div>
                    <div class="user-name">${comment.name}</div>
                </div>
                <div class="right-column">
                    <div class="upper-row">
                        <textarea readonly style="font-weight: bold; font-size: 16px;">${comment.desc}</textarea>
                    </div>

                    <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly>  ${moment(comment.createdAt).fromNow()} </div>
                    </div>
                </div>
            </div>
    
    `;

                        commetsListContainer.innerHTML += postContent

                    })
                        .catch(error => {
                            console.error('Error fetching comments:', error);
                        });
                })
        }

        document.getElementById('commentForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const desc = document.getElementById('desc').value;
            const commentData = {
                desc: desc,

            };

            fetch(`${url}comments?postId=${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(commentData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('comment eklendi:', data);
                })

                .catch(error => {
                    console.error('There was an error!', error);
                });
        });

        document.getElementById("sendButton").addEventListener("click", function() {
        location.reload();
        });

        displayUserInfo();
        async function displayUserInfo() {
            try {
                const response = await fetch('/users');
                if (!response.ok) {
                    throw new Error('Failed to fetch user info');
                }
                const userInfo = await response.json();

                const userInfoDiv = document.getElementById('userInfo');
                const userInfoDiv2 = document.getElementById('userInfo2');


                userInfoDiv.innerHTML = `               
          <p>${userInfo.name}</p>          
        `; 
        
                userInfoDiv2.innerHTML = `               
        <div style="text-align: center;">
    <p style="font-weight: bold;">${userInfo.name}</p>
</div>        `;
        /*userInfoDiv2.innerHTML = `               
        <div style="text-align: center;">
    <p style="font-weight: bold;">${userInfo.name}</p>
</div>        `*/;
            } catch (error) {
                console.error('Error:', error);
            }
        }



    </script>
</body>
<script src="./popupJs"></script>
</html>