<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yorumlar</title>
    <link rel="stylesheet" type="text/css" href="https://fin-chat.onrender.com/profilecss">


</head>


<body>
    <div id="container">
        <div id="left-region">
            <button onclick="goToHome()" id="homeButton" style="margin-top: 5px; margin-left: 5px;">
                <img src="https://fin-chat.onrender.com/static/home.png"
                    alt="Button Image">
            </button>

            <button onclick="openProfilePage()" id="ProfileButton" style="margin-top: 5px; margin-left: 5px;">
                <img src="https://fin-chat.onrender.com/static/user.png"
                    alt="Button Image">
            </button>

            <div id="clickable-lines" onmouseover="openPopup()" onmouseleave="closePopupWithDelay()"
                onclick="togglePopup(event)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-avatar-big" style="margin:40px;">
                <div class="user-avatar" style="height: 100%; width: 100%;">
                    <img id="user-avatar-big3" src="">
                </div>
            </div>
            <div id="userInfo2"></div>
            <div id="popup" onmouseover="cancelClosePopup()" onmouseleave="closePopupWithDelay()"
                onclick="closePopup(event)">
                <div class="popup-content" onclick="openDynamicPopup()">Edit Profile</div>
                <div class="popup-content" onclick="openProfilePage()">My Profile</div>
                <div class="popup-content" onclick="LogOut()">Log Out</div>

            </div>
        </div>
        <div id="middle-region">

            <div class="horizontal-middle-line">
                <span style="font-size: 36px;">
                    <div id="finChatTitle">FinChat</div>
                </span>
            </div>


            <div id="postsList"></div>



           
                <div class="share-comment">
                    <div class="left-column">
                        <div class="user-avatar-small">
                            <div class="user-avatar" style="height: 100%; width: 100%;">
                                <img id="user-avatar-big4" src="">
                            </div>
                        </div>
                        <div id="userInfo" class="user-name"></div>
                    </div>
                    <div class="right-column">
                        <div class="upper-row">
                            <textarea id="desc" name="desc" placeholder="Your text here..." rows="5"
                                cols="50"></textarea>
                        </div>

                        <div class="lower-row">
                            <button type="click" id="gptButton" style="background-color: aquamarine;">
                                <img src="https://fin-chat.onrender.com/static/send.png"
                                    alt="Button Image">
                            </button>

                            <button type="click" id="sendButton">
                                <img src="https://fin-chat.onrender.com/static/send.png"
                                    alt="Button Image">
                            </button>
                        </div>
                    </div>
                </div>
            

            <div id="commentsList"></div>






        </div>
        <div id="right-region">
            <!-- Sağ Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-line">
                <img id="dollar-icon"
                    src="https://fin-chat.onrender.com/static/dollar-icon.gif"
                    alt="Dollar Icon">
            </div>

            <h3 class="para-birimleri" id="dolar-try"></h3>
            <h3 class="para-birimleri" id="euro-try"></h3>
            <h3 class="para-birimleri" id="sterlin-try"></h3>
            <h3 class="para-birimleri" id="pln-try"></h3>
            <div class="horizontal-line">
                <img id="gold-icon"
                    src="https://fin-chat.onrender.com/static/gold-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 id="22altin" class="altin-degerleri"></h3>
            <h3 id="Caltin" class="altin-degerleri"></h3>
            <h3 id="cumhuriyet-altini" class="altin-degerleri"></h3>
            <h3 id="gumus" class="altin-degerleri"></h3>
            <div class="horizontal-line">
                <img id="kripto-icon"
                    src="https://fin-chat.onrender.com/static/kripto-icon.gif"
                    alt="Dollar Icon">
            </div> 
            <h3 id="bitcoin" class="kripto-degerleri"></h3>
            <h3 id="Ethereum" class="kripto-degerleri"></h3>
            <h3 id="Litecoin" class="kripto-degerleri"></h3>
            <h3 id="Dogecoin" class="kripto-degerleri"></h3>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div id="dynamic-popup">
        <form id="update-user-form">
            <div id="close-btn" onclick="closeDynamicPopup()">X</div>
            <div class="user-avatar-big" onclick="openProfilePictureInput()">
                <div class="user-avatar" style="height: 100%; width: 100%;">
                <img id="currentProfilePicture" src="" alt="">
                </div>
                <div id="editProfilePicture"></div>
            </div>
            <input type="file" id="profileImage" accept="image/*" onchange="handleProfilePictureChange()">
            <br>
            <input type="text" id="firstnameLastname" placeholder="First Name Last Name">
            <br>
            <input type="password" id="password" placeholder="Password">
            <br>
            <input type="password" id="repeatPassword" placeholder="Repeat Password">
            <br>
            <button type="submit" id="save-btn">Save</button>
        </form>
    </div>

    <script src="https://fin-chat.onrender.com/static/PageFacade.js"></script>

    <script>
        const url = "https://fin-chat.onrender.com/";
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get('postId');
        fcd.getUserinfo(0,"commentpage")
        fcd.getExchangeRates()
        fetchPosts()

        document.getElementById('update-user-form').addEventListener('submit', function (event) {
    event.preventDefault();
    fcd.updateUser()
})

        function openProfilePage() {
            window.location.href = "profile.html";
        }

        function cancelClosePopup() {
            clearTimeout(closePopupTimeout);
        }

        function closePopupWithDelay() {
            closePopupTimeout = setTimeout(function () {
                var popup = document.getElementById("popup");
                popup.style.display = "none";
            }, 100); // 1 saniye gecikme
        }



        function openProfilePictureInput() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            profilePictureInput.click();
        }
        /*
                document.getElementById('commentsButton').addEventListener('click', function () {
                    window.location.href = 'CommentThePost.html';
                });*/

        function handleProfilePictureChange() {
            var profilePictureInput = document.getElementById('profilePictureInput');
            var currentProfilePicture = document.getElementById('currentProfilePicture');

            if (profilePictureInput.files && profilePictureInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    currentProfilePicture.src = e.target.result;
                };

                reader.readAsDataURL(profilePictureInput.files[0]);
            }
        }





        //-----------------GET POST---------------------//


        function fetchPosts() {
            console.log("getpost" + id);
            fetch(`${url}CommentPage?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(posts => {
                    // Sunucudan gelen verileri işleme
                    const post = posts[0];
                    console.log(post);
                    const postsListContainer = document.getElementById('postsList');

                    let postContent = `
                        <div class="post-view">
                            <div class="left-column">
                                <div class="user-avatar-big">
                                    <div class="user-avatar" style="height: 100%; width: 100%;">
                                    <img src="https://lh3.googleusercontent.com/d/${post.profilePic}">
                                    </div>
                                </div>
                                <div class="user-name">${post.name}</div>
                            </div>
                            <div class="right-column">
                                <div class="upper-row">
                                    <textarea id="post" readonly style="font-weight: bold; font-size: 16px;">${post.desc}</textarea>
                             </div>
                             <div class="lower-row">
                                    <div id="post-date" style="font-weight: normal; font-size: 12px;" readonly>  ${moment(post.createdAt).fromNow()} </div>
                                </div>
                             <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly> Olumluluk oranı : ${post.img} </div>
                    </div>
                    
                               
                            </div>
                        </div>
                            `;
                    postsListContainer.innerHTML += postContent
                })
        }


        //-----------------GET COMMENTS---------------------//

        fetchComments()
        function fetchComments() {

            fetch(`${url}comments?postId=${id}`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(comments => {
                    // Sunucudan gelen verileri işleme
                    console.log(comments);
                    const commetsListContainer = document.getElementById('commentsList');
                    commetsListContainer.innerHTML="";
                    
                    comments.forEach(comment => {
                        let sent ="negative";
                        if(comment.sentiment==1 || comment.sentiment== null){sent="positive"}

                        let postContent = `
            <div class="shared-comment">
                <div class="left-column">
                    <div class="user-avatar-small">
                        <div class="user-avatar" style="height: 100%; width: 100%;">
                        <img src="https://lh3.googleusercontent.com/d/${comment.profilePic}">
                        </div>
                    </div>
                    <div class="user-name">${comment.name}</div>
                </div>
                <div class="right-column">
                    <div class="upper-row">
                        <textarea id="comment${comment.id}" readonly style="font-weight: bold; font-size: 16px;">${comment.desc}</textarea>
                    </div>

                    <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly> sentiment : ${sent} </div>
                    </div>
                    
                    <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly>  ${moment(comment.createdAt).fromNow()} </div>
                    </div>
                </div>
            </div>
    
    `;

                        commetsListContainer.innerHTML += postContent

                    })
                       
                }) .catch(error => {
                            console.error('Error fetching comments:', error);
                        });
        }


        //-------------SET COMMENT------------//


        document.getElementById('sendButton').addEventListener('click', function () {
            
            sendComment();
          
        });


        function sendComment() {
            const desc = document.getElementById('desc').value;
            const text = document.getElementById('desc').value;
            let sentiment= 1;
            if (desc != null && desc != "") {
            fetch(`http://127.0.0.1:5000/analyze_sentiment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({text}),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('ai:', data);
                let reply = data.sentiment;
                console.log('ai:',reply);
                if(reply=="neg"){sentiment=0; console.log(sentiment);}
              
                const commentData = {
                    desc: desc,
                    sentiment: sentiment
                };


                fetch(`${url}comments?postId=${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(commentData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('comment eklendi:', data);
                        
                        fetchComments()
                        document.getElementById('desc').value="";
                    })

                    .catch(error => {
                        console.error('comment ekleme error', error);
                    });

                
            })
            .catch(error => {
                console.error('ai error', error);
                
                const commentData = {
                    desc: desc,
                    sentiment: 1
                };
                fetch(`${url}comments?postId=${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(commentData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('comment eklendi:', data);
                        
                        fetchComments()
                        document.getElementById('desc').value="";
                    })

                    .catch(error => {
                        console.error('comment ekleme error', error);
                    });
            });

            
            

                


                    

            } else { alert("yorum boş olmaz") }
            

        }


        document.getElementById("gptButton").addEventListener("click", function () {
           
            sendToChatGPT1();
        });
/*
        function ai() {
    let value = document.getElementById("post").value;
          let date = document.getElementById("post-date").textContent;
          console.log(value);
          console.log(date);
          const text=`${value} ` ;
          console.log(text);

            fetch(`http://127.0.0.1:5000/analyze_sentiment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({text}),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('ai:', data);
                let reply = data.sentiment;
                console.log(reply);
                document.getElementById('desc').textContent = "ai comment: " + reply;
                
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
}*/

        function sendToChatGPT1() {
    let value = document.getElementById("post").value;
          let date = document.getElementById("post-date").textContent;
          console.log(value);
          console.log(date);
          const content=`bu adam ${date} , şöyle post attı: ${value}.kısa bir cümle ile postu olumlu yada olumsuz olduğunu belirle ` ;
          console.log(content);

            fetch(`${url}getGPTResponse`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({content}),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('gpt:', data);
                let reply = data.choices[0].message.content;
                console.log(reply);
                document.getElementById('desc').textContent =  reply;
                
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
}



    </script>
</body>
<script src="./popupJs"></script>

</html>