<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="js/main.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="https://fin-chat.onrender.com/profilecss">
</head>

<body>
    <div id="container">
        <div id="left-region">
            <div id="clickable-lines" onmouseover="openPopup()" onmouseleave="closePopupWithDelay()"
                onclick="togglePopup(event)">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="user-avatar-big" style="margin:40px;">
                <img src="path/to/user/avatar.jpg">
            </div>
            <div id="userInfo222"></div>
            <div id="popup" onmouseover="cancelClosePopup()" onmouseleave="closePopupWithDelay()"
                onclick="closePopup(event)">
                <div class="popup-content" onclick="openDynamicPopup()">Edit Profile</div>
                <div class="popup-content" onclick="openProfilePage()">My Profile</div>
                <div class="popup-content" onclick="logoutUser()">Log Out</div>

            </div>
        </div>
        <div id="middle-region">
            <!-- Orta Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-middle-line">
                <span style="font-size: 36px;">
                    <div id="finChatTitle">My Profile</div>
                </span>
            </div>


         
            <div id="postsList">

            </div>
        </div>
        <div id="right-region">
            <!-- Sağ Bölge İçeriği Buraya Gelecek -->
            <div class="horizontal-line">
                <img id="dollar-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/dollar-icon.gif"
                    alt="Dollar Icon">
            </div>

            <h3 class="para-birimleri" id="dolar-try"></h3>
            <h3 class="para-birimleri" id="euro-try"></h3>
            <h3 class="para-birimleri" id="sterlin-try"></h3>
            <h3 class="para-birimleri" id="pln-try"></h3>
            <div class="horizontal-line">
                <img id="gold-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/gold-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="altin-degerleri">Gram Altın=300Tl</h3>
            <h3 class="altin-degerleri">Çeyrek Altın=500Tl</h3>
            <h3 class="altin-degerleri">C. Altını=200Tl</h3>
            <h3 class="altin-degerleri">Yatım Altın=100Tl</h3>
            <div class="horizontal-line">
                <img id="kripto-icon"
                    src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/frontend/kripto-icon.gif"
                    alt="Dollar Icon">
            </div>
            <h3 class="kripto-degerleri">Bitcoin=300Tl</h3>
            <h3 class="kripto-degerleri">Etherium=200Tl</h3>
            <h3 class="kripto-degerleri">DogeCoin=100Tl</h3>
            <h3 class="kripto-degerleri">ZırtCoin=50Tl</h3>
            <div class="horizontal-line"></div>
        </div>
    </div>

    <div id="dynamic-popup">
        <form id="update-user-form">
            <div id="close-btn" onclick="closeDynamicPopup()">X</div>
            <div class="user-avatar-big" onclick="openProfilePictureInput()">
                <img id="currentProfilePicture" src="path/to/user/avatar.jpg" alt="">
                <div id="editProfilePicture"></div>
            </div>
            <input type="file" id="profilePictureInput" accept="image/*" onchange="handleProfilePictureChange()">
            <br>
            <input type="text" id="firstnameLastname" placeholder="First Name Last Name">
            <br>
            <input type="password" id="password" placeholder="Password">
            <br>
            <input type="password" id="repeatPassword" placeholder="Repeat Password">
            <br>
            <button type="submit" id="save-btn">Save</button>
        </form>
    </div>

    <script>

        const url = "https://fin-chat.onrender.com/"
        fetchPosts()


        function fetchPosts() {

            fetch(`${url}posts/myposts`) // Sunucu tarafında '/posts' endpoint'i bekliyorsa
                .then(response => response.json())
                .then(posts => {
                    // Sunucudan gelen verileri işleme
                    console.log(posts);
                    const postsListContainer = document.getElementById('postsList');

                    posts.forEach(post => {

                        let postContent = `
                    
            <div class="post-view" >
                <div class="left-column">
                    <div class="user-avatar-big">
                        <img src="${post.profilePic}">
                    </div>
                    <div class="user-name">${post.name}</div>
                </div>
                <div class="right-column">
                    <div class="upper-row">
                        <textarea readonly style="font-weight: bold; font-size: 16px;">${post.desc}</textarea>
                     </div>

                    <div class="lower-row">
                        <div style="font-weight: normal; font-size: 12px;" readonly>  ${moment(post.createdAt).fromNow()} </div>
                      <button onclick="Deletepost(${post.id})" id="DeleteButton">
                          <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/delete.png" alt="Button Image">
                      </button>
                      <button onclick="postClicked(${post.id})"  id="commentsButton">
                          <img src="https://raw.githubusercontent.com/Mujahid0Abdullah/FinChat/main/views/comment.png" alt="Button Image">
                      </button>
                    </div>
                </div>
            </div>
                `;

                        postsListContainer.innerHTML += postContent

                    })
                        .catch(error => {
                            console.error('Error fetching posts:', error);
                        });
                })
        }


        function openProfilePage() {
            window.location = `${url}profile`
        }


        function postClicked(postId) {
            // alert(postId)
            window.location = `${url}post?postId=${postId}`
        }


        async function Deletepost(postId) {

            try {
                const response = await fetch('https://fin-chat.onrender.com/posts', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ postId })
                });

                if (response.ok) {
                    alert('post Silindi');
                    location.reload();
                    // window.location.href = './home';
                } else {
                    const errorMessage = await response.json();
                    alert(`Hata çıktı : ${errorMessage}`);
                }

            } catch (error) {
                console.error('Error:', error);
                // Handle error if fetch fails
                alert('An error occurred while processing your request.');
            }

        }


        //LOGOUT
        function logoutUser() {
            fetch(`${url}auths/logout`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Logout failed');
                })
                .then(data => {
                    console.log(data);

                    window.location.href = `${url}`;
                })
                .catch(error => {
                    console.error('Logout error:', error);
                });
        }


        function openImageView() {
            var fileInput = document.createElement("input");
            fileInput.type = "file";

            fileInput.addEventListener("change", function () {
                var selectedFile = fileInput.files[0];
                if (selectedFile) {
                    var imageViewer = document.getElementById("imageViewer");
                    imageViewer.innerHTML = '<img src="' + URL.createObjectURL(selectedFile) + '" alt="Uploaded Image">';
                }
            });

            fileInput.click();
        }

        async function displayUserInfo() {
            try {
                const response = await fetch('/users');
                if (!response.ok) {
                    throw new Error('Failed to fetch user info');
                }
                const userInfo = await response.json();

                const userInfoDive = document.getElementById('userInfo222');

                userInfoDive.innerHTML = `               
        <div style="text-align: center;">
    <p style="font-weight: bold;">${userInfo.name}</p>
</div>        `;
            } catch (error) {
                console.error('Error:', error);
            }
        }
        displayUserInfo();

        
        document.getElementById('update-user-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const name = document.getElementById('firstnameLastname').value;
            const password = document.getElementById('password').value;
            const repeatPassword = document.getElementById('repeatPassword').value;

            if (password == repeatPassword || name == null) {

                try {
                    const response = await fetch('https://fin-chat.onrender.com/users', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name, password })
                    });

                    if (response.ok) {
                        alert('bilgileriniz güncellendi');
                        location.reload();
                        // window.location.href = './home';
                    } else {
                        const errorMessage = await response.json();
                        alert(`Login failed: ${errorMessage}`);
                    }

                } catch (error) {
                    console.error('Error:', error);
                    // Handle error if fetch fails
                    alert('An error occurred while processing your request.');
                }



            } else { alert("password aynı değil yada adı boş") }



        });


    </script>
</body>
<script src="./popupJs"></script>

</html>